# NEVER publish secrets into the repository!
# For development: Create a secrets.h file at root level with following keys

String API_AUTH_TOKEN = "API_AUTH_TOKEN"
const char *WIFI_PASSWORD = "PASSWORD";